[submodule "ranger_devicons"]
	path = ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons.git
[submodule "home_stuff/.icons/Zafiro-icons"]
	path = home_stuff/.icons/Zafiro-icons
	url = https://github.com/zayronxio/Zafiro-icons.git
[submodule "home_stuff/.config/polybar/polybar-spotify"]
	path = home_stuff/.config/polybar/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify.git
[submodule "home_stuff/.config/qutebrowser/dracula"]
	path = home_stuff/.config/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
	ignore = dirty
[submodule "home_stuff/.config/qutebrowser/qutewal"]
	path = home_stuff/.config/qutebrowser/qutewal
	url = https://github.com/jjzmajic/qutewal.git
