#Neovim files to ignore
home_stuff/.config/nvim/*
!home_stuff/.config/nvim/init.vim
!home_stuff/.config/nvim/syntax

#MPD Files to ignore
home_stuff/.config/mpd/*
!home_stuff/.config/mpd/mpd.conf

#NCMPCPP
home_stuff/.ncmpcpp/error.log

#Ranger
home_stuff/.config/ranger/*
!home_stuff/.config/ranger/rc.conf

#icons
home_stuff/.icons

#themes
home_stuff/.themes

#rofi theme/config file because we generate it every time from pywal template
home_stuff/.config/rofi/theme.rasi

#spicetify
home_stuff/.config/spicetify/* 
!home_stuff/.config/spicetify/Themes
!home_stuff/.config/spicetify/config.ini
